<%- include("./partials/header") %>
<h1>Welcome to Super Team Picker</h1>
<img class="penguins"
  src="https://images.unsplash.com/photo-1568274602483-355d7fbba69c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80" />
<%- include("./partials/footer") %>